.bg-faded
    background-color: #333333

.sidebar
    position: fixed
    top: 85px !important
    bottom: 0
    left: 0
    z-index: 1000
    padding: 20px
    overflow-x: hidden
    overflow-y: auto
    border-right: none

/* Sidebar navigation */
.sidebar
    padding-left: 0
    padding-right: 0

.sidebar .nav
    margin-bottom: 20px

.sidebar .nav-item
    width: 100%

.sidebar .nav-item + .nav-item 
    margin-left: 0

.sidebar .nav-link
    border-radius: 0

/* Dashboard */
.placeholders
    padding-bottom: 3rem

.placeholder img
    padding-top: 1.5rem
    padding-bottom: 1.5rem


.card 
    position: relative
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column
    background-color: transparent !important
    border: none
    border-radius: none
    border-top: 2px solid #333333
.list-group-item 
    position: relative
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-flex-flow: row wrap
    -ms-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    padding: .75rem 1.25rem
    margin-bottom: -1px
    background-color: #333333
    border: 1px solid rgba(0,0,0,.125)
.card>.list-group:first-child .list-group-item:first-child
    border-top-right-radius: 0
    border-top-left-radius: 0
.list-group-item:last-child 
    margin-bottom: 0
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0
.list-group a
    color: #fff
    text-transform: uppercase
    font-size: 12px
.list-group-item img
    width: 12%
    // margin-right: 10px


/** Item 1 - Generos Daily **/
#head1    
    background-color: rgb(173, 157, 51)
    // padding-left: 10px
    padding: 0
.daily-tabs
    background-color: rgba(173, 157, 51, .7)
    border-top: 2px solid #333333


/** Item 2 - Select VIP **/
#head2
    background-color: rgb(187, 173, 86)
    // padding-left: 10px
    padding: 0
.vip-tabs
    background-color: rgba(187, 173, 86, .7)
    border-top: 2px solid #333333  


/** Item 3 - Estacionamiento | Parking **/
#head3
    background-color: rgb(204, 189, 124)
    // padding-left: 10px
    padding: 0
.parking-tabs
    background-color: rgba(204, 189, 124, .7)
    border-top: 2px solid #333333    


/** Item 4 - Temporalidad **/
#head4
    background-color: rgb(138, 193, 188)
    // padding-left: 10px
    padding: 0
.tempo-tabs
    background-color: rgba(138, 193, 188, .7)
    border-top: 2px solid #333333 


/** Item 5 - Spots **/
#head5
    background-color: rgb(98, 176, 169)
    // padding-left: 10px
    padding: 0
.spots-tabs
    background-color: rgba(98, 176, 169, .7)
    border-top: 2px solid #333333 


/** Item 6 - Mac Mini Monitor **/
#head6
    background-color: rgb(39, 162, 154)
    // padding-left: 10px
    padding: 0
.mac-tabs
    background-color: rgba(39, 162, 154, .7)
    border-top: 2px solid #333333          

