/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* LOGIN */
.full-log{
  min-height: 100vh;
  background: #333333;
  display: flex;
  align-content: center;
  justify-content: center;
}
.container-log{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #fff;
  width: 70%;
  margin: auto;
  text-align: center;
}
.container-log img{
  width: 55%;
  margin: auto;
}
.title-log {
  display: block;
  padding-top: 30px;
  font-weight: 400;
}
.form_input {
  border: 0px;
  border-bottom: 1px solid #fff;
  display: block;
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  margin: auto auto 15px;;
  color: #fff;
  background: #333;
}
.btn-v{
  border:0px;
  padding: 5px 20px;
  background-color: #26A299;
  color: #fff;
}
